body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	height: 100vh;
	background: url("./assets/bg.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
}

.chatbot-container {
	position: relative;
	height: 80%;
	width: 80%;
	margin: auto;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
	border-radius: 10px;
}

.chatbot-chat-container {
	border: none;
	border-radius: 10px;
	padding-top: 15px;
}
